.header-container {
    padding-top: 30vh;
    background-image: url(../../assets/img/pink-cloud-mountain.jpg);
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    height: 100vmax;
    width: 100vw;
}