nav.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* background-color: white; */
    padding: 45px;
    font-size: 20px;
}

.ul-nav {
    padding-left: 75px;
}

.li-nav {
    display: inline;
    list-style-type: none;
    padding-right: 75px;
    font-size: larger;
}

a {
    text-decoration: none;
}