.work-container {
    background-color: unset;
    margin-top: 10vh;
}

.work-title {
    margin-bottom: 10%;
}

.list-group {

}

.list-group-item {
    list-style-type: none;
    margin-bottom: 10%;
    padding-right: 40px; /*  This is to offeset whatever is giving this a padding-inline-start value of 40px  */
}

.deployed-link {
    margin-right: 10%;
}

.repo-link {

}